node_modules/ 
.env.local 
.env.development.local 
.env.test.local 
.env.production.local 
build/ 
.firebase/ 
npm-debug.log* 
.env.local 
"public/GitHubDesktopSetup-x64.exe" 
"public/GitHubDesktopSetup-x64.exe" 
"src/utils/poster_mvp.txt" 
